.DS_Store
__pycache__/my_constants.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
assets/.DS_Store
assets/images/.DS_Store
__pycache__/rocks.cpython-312.pyc
__pycache__/player.cpython-312.pyc
__pycache__/fish.cpython-312.pyc
__pycache__/background.cpython-312.pyc
*.pyc
